<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @admin.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @admin.lastname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @admin.title %>
</p>

<p>
  <strong>Officenumber:</strong>
  <%= @admin.officenumber %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @admin.phonenumber %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
