<!DOCTYPE html>
<html>
  <head>
    <title>SemesterProjectZkhalid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="header">
    <h1>ABET</h1>
    <h2>The Accreditation Board for Engineering and Technology</h2>
  </div>
  <div id="pages">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <%= link_to "ADMIN", admins_path %>
  <%= link_to "COURSES",courses_path %>


    <%= yield %>
  </div>
  </body>
</html>
